Raspberry/.node-red/.flows_raspberrypi.json.backup
[{"id":"f0a28705.0f5d78","type":"tab","label":"EasyPark"},{"id":"91c966.d9fae698","type":"tab","label":"Flow 1"},{"id":"ceb08262.314f8","type":"serial-port","z":"f0a28705.0f5d78","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"10","bin":"false","out":"time","addchar":false},{"id":"ccca9796.333568","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-D7CfAXhfpZ","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cdb2fa58.324d08","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3564ee7c.957a62","type":"mongodb2","z":"","uri":"mongodb://admin:password@127.0.0.1:27017/EasyPark","name":"Local server","options":"","parallelism":""},{"id":"6964fb6f.9de504","type":"mongodb","z":0,"hostname":"127.0.0.1","port":"27017","db":"test","name":"test"},{"id":"ec7aa914.138558","type":"serial in","z":"f0a28705.0f5d78","name":"XBee input","serial":"ceb08262.314f8","x":65,"y":441.00000762939453,"wires":[["b1539b4e.4eac68"]]},{"id":"cb522a.ff34add8","type":"debug","z":"f0a28705.0f5d78","name":"","active":true,"console":"false","complete":"payload","x":875.0000762939453,"y":314.00003814697266,"wires":[]},{"id":"950ed174.6af13","type":"mqtt out","z":"f0a28705.0f5d78","name":"mqtt","topic":"testtopic/1","qos":"0","retain":"false","broker":"cdb2fa58.324d08","x":858.0000152587891,"y":439.0000228881836,"wires":[]},{"id":"b1539b4e.4eac68","type":"function","z":"f0a28705.0f5d78","name":"MsgTreat","func":"//slpit the msg\nvar FT, NB, SID, WID, FSeq, S1, S2, S3, S4;\nvar PS, MF, TEMP, BAT, DATE;\nvar outputMsgs = {};\nvar sensors = msg.payload.split(\"#\");\nvar i = 0;\n\nfor (var w in sensors) {\n    switch(i)\n    {\n        case 0:\n            FT = sensors[w];\n            break;\n        case 1:\n            SID = sensors[w];\n            break;\n        case 2:\n            WID = sensors[w];\n            break;\n        case 3:\n            FSeq = sensors[w];\n            break;\n        case 4:\n            S1 = sensors[w];\n            PS = S1.split(\":\")[1];\n            break;\n        case 5:\n            S2 = sensors[w];\n            MF = S2.split(\":\")[1];\n            break;\n        case 6:\n            S3 = sensors[w];\n            TEMP = S3.split(\":\")[1];\n            break;\n        case 7:\n            S4 = sensors[w];\n            BAT = S4.split(\":\")[1];\n            break;\n        default:\n    }\n    i++;\n}\n\nDATE = Date.now();\n\noutputMsgs.payload = {WID, PS, MF, TEMP, BAT, DATE};\n\nreturn [outputMsgs];","outputs":"1","noerr":0,"x":214.0000762939453,"y":441.00000762939453,"wires":[["cb522a.ff34add8","950ed174.6af13","d1802e3a.5f4f4"]]},{"id":"65ac609d.60ee1","type":"debug","z":"91c966.d9fae698","name":"","active":true,"console":"false","complete":"payload","x":788.2000122070312,"y":363,"wires":[]},{"id":"91ea01bd.b518","type":"inject","z":"91c966.d9fae698","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":290.20001220703125,"y":266,"wires":[["25f90c72.ea2ef4"]]},{"id":"26d6df58.791fb","type":"inject","z":"91c966.d9fae698","name":"1) Find One only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":224.20001220703125,"y":64,"wires":[["1acb23fd.00ae0c"]]},{"id":"1acb23fd.00ae0c","type":"function","z":"91c966.d9fae698","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":254.20004272460938,"y":127,"wires":[["e3b620c.dc99ce"]]},{"id":"6725bae4.4cbaf4","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Store Data into MongoDB","collection":"","operation":"","x":579.2000274658203,"y":387.0000762939453,"wires":[["65ac609d.60ee1"]]},{"id":"25f90c72.ea2ef4","type":"function","z":"91c966.d9fae698","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":230.20001220703125,"y":337,"wires":[["a3b3d317.a6a3c"]]},{"id":"84af2b83.50e988","type":"function","z":"91c966.d9fae698","name":"Just get name","func":"var newMsg = {};\nnewMsg.payload    = msg.payload.name;\nreturn newMsg;","outputs":1,"x":670.2000122070312,"y":184,"wires":[["65ac609d.60ee1"]]},{"id":"1ddea476.feb3ac","type":"inject","z":"91c966.d9fae698","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":262.20001220703125,"y":505,"wires":[["6005c284.f1a55c"]]},{"id":"6005c284.f1a55c","type":"function","z":"91c966.d9fae698","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":226.20001220703125,"y":564,"wires":[["6775dc3e.be0ce4"]]},{"id":"6775dc3e.be0ce4","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":437.20001220703125,"y":564,"wires":[["9036c4d9.73ffe8"]]},{"id":"9036c4d9.73ffe8","type":"function","z":"91c966.d9fae698","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":671.2000122070312,"y":564,"wires":[["65ac609d.60ee1"]]},{"id":"525d13b1.2d701c","type":"inject","z":"91c966.d9fae698","name":"3) Enter data","topic":"","payload":"123456","payloadType":"str","repeat":"","crontab":"","once":false,"x":211.20001220703125,"y":419.99999618530273,"wires":[["ab184325.3d786"]]},{"id":"ab184325.3d786","type":"function","z":"91c966.d9fae698","name":"insert (or delete)","func":"var newMsg = {};\nnewMsg.collection = 'names';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nreturn newMsg;","outputs":1,"noerr":0,"x":372.20001220703125,"y":416,"wires":[["6725bae4.4cbaf4"]]},{"id":"a3b3d317.a6a3c","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":508.2000274658203,"y":334.99999237060547,"wires":[["84af2b83.50e988"]]},{"id":"e3b620c.dc99ce","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":458.20001220703125,"y":124,"wires":[["84af2b83.50e988"]]},{"id":"d856cf70.2caa8","type":"mqtt in","z":"f0a28705.0f5d78","name":"testmqtt","topic":"testtopic/#","qos":"0","broker":"cdb2fa58.324d08","x":276.2000274658203,"y":672.5999526977539,"wires":[["e0b75b05.23d5e8"]]},{"id":"56357066.d1508","type":"mongodb2 in","z":"f0a28705.0f5d78","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":628.2000274658203,"y":514.5999526977539,"wires":[["ba5ede7e.e7b7"]]},{"id":"e0b75b05.23d5e8","type":"debug","z":"f0a28705.0f5d78","name":"","active":true,"console":"false","complete":"true","x":591.2000274658203,"y":687.5999526977539,"wires":[]},{"id":"d1802e3a.5f4f4","type":"function","z":"f0a28705.0f5d78","name":"insert","func":"msg.collection = 'NodesLog';\n//newMsg.operation  = 'deleteOne';\nmsg.operation  = 'insert';\nreturn msg;","outputs":1,"noerr":0,"x":360.2000274658203,"y":514.5999221801758,"wires":[["56357066.d1508"]]},{"id":"ba5ede7e.e7b7","type":"debug","z":"f0a28705.0f5d78","name":"","active":true,"console":"false","complete":"payload","x":872.2000274658203,"y":514.599983215332,"wires":[]},{"id":"b422d389.e9039","type":"inject","z":"f0a28705.0f5d78","name":"find","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.20001220703125,"y":839.4000244140625,"wires":[["18971db7.3400f2"]]},{"id":"18971db7.3400f2","type":"function","z":"f0a28705.0f5d78","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'EasyPark';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { WID : 'N01' };\nreturn newMsg;","outputs":1,"noerr":0,"x":288.2000274658203,"y":838.4000244140625,"wires":[["6d6c8b10.e1c8c4"]]},{"id":"6d6c8b10.e1c8c4","type":"mongodb2 in","z":"f0a28705.0f5d78","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":528.2000274658203,"y":838.4000244140625,"wires":[["2f47eb9.8d30a14"]]},{"id":"2f47eb9.8d30a14","type":"debug","z":"f0a28705.0f5d78","name":"","active":true,"console":"false","complete":"payload","x":818.2000274658203,"y":837.0002136230469,"wires":[]}]