Raspberry/.node-red/flow.json
[{"id":"15441c32.511794","type":"tab","label":"EasyPark"},{"id":"732c7048.d0685","type":"debug","z":"15441c32.511794","name":"","active":true,"console":"false","complete":"payload","x":740.2000122070312,"y":74.19999694824219,"wires":[]},{"id":"c81b177f.743978","type":"mqtt out","z":"15441c32.511794","name":"mqtt","topic":"testtopic/1","qos":"0","retain":"false","broker":"6763e472.c37e3c","x":847.199951171875,"y":141.19997787475586,"wires":[]},{"id":"143d7979.6098c7","type":"mqtt in","z":"15441c32.511794","name":"testmqtt","topic":"testtopic/#","qos":"0","broker":"6763e472.c37e3c","x":265.39996337890625,"y":374.7999076843262,"wires":[["d4c3cb0b.d12338"]]},{"id":"d4c3cb0b.d12338","type":"debug","z":"15441c32.511794","name":"","active":true,"console":"false","complete":"true","x":580.3999633789062,"y":389.7999076843262,"wires":[]},{"id":"763b8e67.5b63","type":"inject","z":"15441c32.511794","name":"find","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.39994812011719,"y":545.6000099182129,"wires":[["7b21f91c.99f0b8"]]},{"id":"690e2090.f77ae","type":"debug","z":"15441c32.511794","name":"","active":true,"console":"false","complete":"payload","x":807.3999633789062,"y":539.2001686096191,"wires":[]},{"id":"d577b7c1.e32508","type":"function","z":"15441c32.511794","name":"MsgTreat","func":"//slpit the msg\nvar FT, NB, SID, WID, FSeq, S1, S2, S3, S4;\nvar PS, MF, MFX, MFY, MFZ, TEMP, BAT, DATE;\nvar outputMsgs = {};\nvar sensors = msg.payload.split(\"#\");\nvar i = 0;\n\nfor (var w in sensors) {\n    switch(i)\n    {\n        case 0:\n            FT = sensors[w];\n            break;\n        case 1:\n            SID = sensors[w];\n            break;\n        case 2:\n            WID = sensors[w];\n            break;\n        case 3:\n            FSeq = sensors[w];\n            break;\n        case 4:\n            S1 = sensors[w];\n            PS = parseInt(S1.split(\":\")[1]);\n            break;\n        case 5:\n            S2 = sensors[w];\n            MF = S2.split(\":\")[1];\n            MFX = parseInt(MF.split(\";\")[0]);\n            MFY = parseInt(MF.split(\";\")[1]);\n            MFZ = parseInt(MF.split(\";\")[2]);\n            break;\n        case 6:\n            S3 = sensors[w];\n            TEMP = parseInt(S3.split(\":\")[1]);\n            break;\n        case 7:\n            S4 = sensors[w];\n            BAT = parseInt(S4.split(\":\")[1]);\n            break;\n        default:\n    }\n    i++;\n}\n\noutputMsgs.payload = [{ ps : PS,\n                        mfx : MFX,\n                        mfy : MFY,\n                        mfz : MFZ,\n                        temp : TEMP, \n                        bat : BAT},\n                        {wid : WID}];\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":297.6999206542969,"y":153.1999969482422,"wires":[["732c7048.d0685","c81b177f.743978","6b3f943e.a51a9c"]]},{"id":"7b21f91c.99f0b8","type":"function","z":"15441c32.511794","name":"simple query","func":"msg.query=\"select * from ps;\";\nreturn msg;","outputs":1,"noerr":0,"x":323.39996337890625,"y":527.6000099182129,"wires":[["98ee51ea.b5c"]]},{"id":"730ec48c.958e9c","type":"serial in","z":"15441c32.511794","name":"XBee Input","serial":"b1651725.98f8d8","x":96.5,"y":182.1999938964844,"wires":[["d577b7c1.e32508"]]},{"id":"6b3f943e.a51a9c","type":"influxdb out","z":"15441c32.511794","influxdb":"2ac9c083.b39b1","name":"","measurement":"ps","x":478.49998474121094,"y":249.00001525878906,"wires":[]},{"id":"98ee51ea.b5c","type":"influxdb in","z":"15441c32.511794","influxdb":"2ac9c083.b39b1","name":"","query":"","x":608.4999847412109,"y":545.8000335693359,"wires":[["690e2090.f77ae"]]},{"id":"6763e472.c37e3c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b1651725.98f8d8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"10","bin":"false","out":"time","addchar":false},{"id":"2ac9c083.b39b1","type":"influxdb","z":"15441c32.511794","hostname":"127.0.0.1","port":"8086","database":"EasyPark","name":"NodesLog"}]