Raspberry/.node-red/flows_raspberrypi.json
[{"id":"f0a28705.0f5d78","type":"tab","label":"EasyPark"},{"id":"91c966.d9fae698","type":"tab","label":"Flow 1"},{"id":"ba12b5a8.f5afa8","type":"tab","label":"Flow 2"},{"id":"ceb08262.314f8","type":"serial-port","z":"f0a28705.0f5d78","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"#","bin":"false","out":"char","addchar":false},{"id":"ccca9796.333568","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-D7CfAXhfpZ","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cdb2fa58.324d08","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3564ee7c.957a62","type":"mongodb2","z":"","uri":"mongodb://admin:password@127.0.0.1:27017/test","name":"test server","options":"","parallelism":""},{"id":"6964fb6f.9de504","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":"test"},{"id":"ec7aa914.138558","type":"serial in","z":"f0a28705.0f5d78","name":"XBee input","serial":"ceb08262.314f8","x":366,"y":333,"wires":[["b1539b4e.4eac68","b10ffa9a.4ef008"]]},{"id":"cb522a.ff34add8","type":"debug","z":"f0a28705.0f5d78","name":"","active":false,"console":"false","complete":"false","x":803,"y":320,"wires":[]},{"id":"ad5af1a6.52a51","type":"mqtt in","z":"f0a28705.0f5d78","name":"testmqtt","topic":"testtopic/#","qos":"0","broker":"cdb2fa58.324d08","x":519,"y":628,"wires":[["d179b17.f2e865"]]},{"id":"950ed174.6af13","type":"mqtt out","z":"f0a28705.0f5d78","name":"mqtt","topic":"testtopic/1","qos":"0","retain":"false","broker":"cdb2fa58.324d08","x":868,"y":461,"wires":[]},{"id":"d179b17.f2e865","type":"debug","z":"f0a28705.0f5d78","name":"","active":false,"console":"false","complete":"true","x":978,"y":731,"wires":[]},{"id":"b1539b4e.4eac68","type":"function","z":"f0a28705.0f5d78","name":"MsgTreat","func":"\n//slpit the msg\nvar FT = { payload: \"123\" };\n\nreturn [FT, null];","outputs":"2","noerr":0,"x":498,"y":445,"wires":[["cb522a.ff34add8","950ed174.6af13"],["4eefae7f.b1105"]]},{"id":"4eefae7f.b1105","type":"debug","z":"f0a28705.0f5d78","name":"","active":false,"console":"false","complete":"false","x":854,"y":377,"wires":[]},{"id":"b10ffa9a.4ef008","type":"debug","z":"f0a28705.0f5d78","name":"","active":true,"console":"false","complete":"payload","x":650,"y":200,"wires":[]},{"id":"65ac609d.60ee1","type":"debug","z":"91c966.d9fae698","name":"","active":true,"console":"false","complete":"payload","x":788.2000122070312,"y":363,"wires":[]},{"id":"91ea01bd.b518","type":"inject","z":"91c966.d9fae698","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":290.20001220703125,"y":266,"wires":[["25f90c72.ea2ef4"]]},{"id":"26d6df58.791fb","type":"inject","z":"91c966.d9fae698","name":"1) Find One only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":224.20001220703125,"y":64,"wires":[["1acb23fd.00ae0c"]]},{"id":"1acb23fd.00ae0c","type":"function","z":"91c966.d9fae698","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":254.20004272460938,"y":127,"wires":[["e3b620c.dc99ce"]]},{"id":"6725bae4.4cbaf4","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Store Data into MongoDB","collection":"","operation":"","x":579.2000274658203,"y":387.0000762939453,"wires":[["65ac609d.60ee1"]]},{"id":"25f90c72.ea2ef4","type":"function","z":"91c966.d9fae698","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":230.20001220703125,"y":337,"wires":[["a3b3d317.a6a3c"]]},{"id":"84af2b83.50e988","type":"function","z":"91c966.d9fae698","name":"Just get name","func":"var newMsg = {};\nnewMsg.payload    = msg.payload.name;\nreturn newMsg;","outputs":1,"x":670.2000122070312,"y":184,"wires":[["65ac609d.60ee1"]]},{"id":"1ddea476.feb3ac","type":"inject","z":"91c966.d9fae698","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":262.20001220703125,"y":505,"wires":[["6005c284.f1a55c"]]},{"id":"6005c284.f1a55c","type":"function","z":"91c966.d9fae698","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":226.20001220703125,"y":564,"wires":[["6775dc3e.be0ce4"]]},{"id":"6775dc3e.be0ce4","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":437.20001220703125,"y":564,"wires":[["9036c4d9.73ffe8"]]},{"id":"9036c4d9.73ffe8","type":"function","z":"91c966.d9fae698","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":671.2000122070312,"y":564,"wires":[["65ac609d.60ee1"]]},{"id":"525d13b1.2d701c","type":"inject","z":"91c966.d9fae698","name":"3) Enter data","topic":"","payload":"123456","payloadType":"str","repeat":"","crontab":"","once":false,"x":211.20001220703125,"y":416,"wires":[["ab184325.3d786"]]},{"id":"ab184325.3d786","type":"function","z":"91c966.d9fae698","name":"insert (or delete)","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'deleteOne';\n//newMsg.operation  = 'insert';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nreturn newMsg;","outputs":1,"noerr":0,"x":372.20001220703125,"y":416,"wires":[["6725bae4.4cbaf4"]]},{"id":"a3b3d317.a6a3c","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":448.20001220703125,"y":337,"wires":[["84af2b83.50e988"]]},{"id":"e3b620c.dc99ce","type":"mongodb2 in","z":"91c966.d9fae698","service":"_ext_","configNode":"3564ee7c.957a62","name":"Mongo DB dynamic operation","collection":"","operation":"","x":458.20001220703125,"y":124,"wires":[["84af2b83.50e988"]]},{"id":"520884b9.4e3ebc","type":"function","z":"ba12b5a8.f5afa8","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n \n    {\n      \"_id\": \"mydocument\"\n    }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":368.20005798339844,"y":139.22222900390625,"wires":[["f7020916.cb7788"]]},{"id":"8988d7bc.ad2f48","type":"inject","z":"ba12b5a8.f5afa8","name":"Inject filter","topic":"","payload":"{\"_id\":\"mydocument\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":155.70001220703125,"y":283.2222137451172,"wires":[["520884b9.4e3ebc"]]},{"id":"5339d500.934f7c","type":"debug","z":"ba12b5a8.f5afa8","name":"","active":true,"console":"false","complete":"false","x":928.2000274658203,"y":256.22222900390625,"wires":[]},{"id":"f7020916.cb7788","type":"mongodb2 in","z":"ba12b5a8.f5afa8","service":"_ext_","configNode":"3564ee7c.957a62","name":"","collection":"test","operation":"listIndexes.forEach","x":722.5000152587891,"y":140.20001220703125,"wires":[["5339d500.934f7c"]]}]